.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  max-width: 100vw;
}

.img_header{
  max-width: 100%;
  max-height: 100%;
  min-width: 800px;
}

#gallery_traveler {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin:1% auto;
  max-height:600px;
  align-items: flex-start;
}

#gallery {
  max-width: 100%;
  max-height: 100%;
}

#travelerbooking {
  position: relative;
  left:-250px;
  margin-top: -25px;
  z-index: 1;
}

#app {
  margin: 30px 10% 30px 10%;
}

.itinerary_sider {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-around;
  padding-left: 20px;
}

.sider {
  width:30%;
  padding-top: 1%;
}

.image_sider{
  max-width: 90%;
  max-height: 90%;
  min-height: 400px;
  object-fit: cover;

}

.itineraryHeaderPhoto {
  min-width: 300px;
  margin:auto;
  object-fit: cover;
  padding-top: 3%;
  overflow: hidden;
}

.itinerary_container {
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  
}


