
body {
  display:flex;
  flex-direction: column;
  justify-content: stretch;
}

.header{
  margin:0 10% -3% 10%;
}

.img_header{
  max-width: 100%;
  max-height: 100%;
  padding-top: 3%;
  min-width: 800px;
}

#gallery_traveler {
  display:flex;
  flex-direction: row;
  justify-content: stretch;
  margin:0 10% 0 10%;
  max-height:600px;
}

#gallery {
  margin-top: 5%;
  margin-left:7%;
  max-width: 100%;
  max-height: 100%;
}

#travelerbooking {
  margin-top: 2.5%;
  position: relative;
  left:-250px;
}

#Reviews {
  margin: 10px 15% 10px 15%;
}

.itinerary_sider {
  margin: 2% 15% 0 15%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
}

#itinerary {
  width:70%;
  min-width:650px;
}

.sider {
  width:30%;
  padding-top: 2%;
  padding-left: 0%;
}

.image_sider{
  max-width: 100%;
  max-height: 100%;
  min-height: 400px;
  min-width:220px;
}


